@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(23, 23, 24);
  --secondary-color: #1f2024;
}

body {
  background-color: var(--primary-color);
  font-family: "Poppins", "sans-serif";
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

h2 {
  color: rgb(185, 14, 14);
  background-color: var(--secondary-color);
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  color: #fff;
  font-family: inherit;
}

.search:focus {
  outline: 0;
  background-color: var(--secondary-color);
}

.search::placeholder {
  color: #978f8f;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #c1c2cc;
  background-color: rgb(29, 29, 28);
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

#details {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #c1c2cc;
  font-size: 1rem;
  font-style: italic;
  font-family: "Poppins", "sans-serif";
}
